# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
MemoryCaptures/
.DS_Store
*.pidb.meta
*.pdb.meta
*.mdb.meta
Packages/
# VS / Rider
.vs/
.idea/
*.csproj
*.sln
*.user
# Asset meta files should be included
!*.meta